<h1>Create New Client</h1>
    <h2>{{username}}, welcome!</h2>
    <h4>Import Client Data from Zoho CRM System</h4>
    <select ng-model="selectedID" ng-change="getZohoAccount()">
        <option ng-repeat="client in clients" value="{{client.zoho_id}}">{{client.name}}</option>
    </select>
    <br>
    <hr>
    <br>
    <form>
        <p>Client Type: <select ng-model="newClient.client_type">
                        <option ng-repeat="client_type in client_types" value="{{client_type.id}}">{{client_type.name}}</option>
                    </select>
        </p>
        <p>Client Name: <input type="text" ng-model="newClient.name"></p>
        <p>Phone: <input type="text" ng-model="newClient.phone"></p>
        <p>Fax: <input type="text" ng-model="newClient.fax"></p>
        <p>Email: <input type="text" ng-model="newClient.email"></p>
        <p>Address1: <input type="text" ng-model="newClient.address1"></p>
        <p>Address2: <input type="text" ng-model="newClient.address2"></p>
        <p>City: <input type="text" ng-model="newClient.city"></p>        
        <p>State: <select ng-model="newClient.state">
                      <option selected>{{newClient.state}}</option>
                      <option ng-repeat="state in states" value="state.name">{{state.name}}</option>
                  </select>
        </p>
        <p>Zipcode: <input type="text" ng-model="newClient.zipcode"></p>                
        <p>Country: <select ng-model="newClient.country">
                        <option>{{newClient.country}}</option>
                        <option ng-repeat="country in countries" value="country.name">{{country.name}}</option>
                    </select>
        </p>
        <button ng-click="createClient()">Create New Client</button> | <button ng-click="clearForm()">Reset Form</button>
    </form>

    <div ng-repeat="error in errors">
         <p style="color:red">{{error}}</p>
    </div>

